.navbar-collapse{
    flex-grow: 0;
}
.navbar{
    border-bottom: blue 2px solid;
    padding: 0;
}
.top-section{
    background-image: url(image/bg-top.jpeg);
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
}
.top-section-shadow{
    background: black;
    opacity: .5;
    position: absolute;
    height: 500px;
    z-index: 1;
    width: 100%;
    margin-top:-500px ;
}
.top-section-content{
    position: absolute;
    height: 500px;
    z-index: 2;
    width: 100%;
    margin-top:-500px ;
    color: white;
    padding-top: 6em;
}
body{
    box-sizing: border-box;
}
.input{
    flex: 1;
    border: none;
    border-radius: 2px;
}
.explore-top{
    background: #3A3C3A;
}
.explore .btn{
    border: white 1px solid;
    
}
.explore-bottom img{
    border-radius: 50%;

}
.modal-content{
    width: 300px;
}
.modal-body input, textarea{
    width: 100%;
}
footer{
    background: #1C1F22;
}
